<div class="container-admin">
  <h2>{{ title }}</h2>

  <ul>
    <li>
      <a id="add-article" href="#">Ajouter articles</a>     
    </li>
    <li>
      <a id="get-article" href="#">Consulter articles</a>     
    </li>
    <li>
      <a id="add-procduct" href="#">Composer produits</a>     
    </li>
    <li>
      <a id="get-procduct" href="#">Consulter produits</a>     
    </li>
    <li>
      <a id="add-category" href="#">Ajouter catégopries</a>     
    </li>
    <li>
      <a id="get-category" href="#">Consulter catégories</a>     
    </li>
  </ul>
  
</div>